@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.main{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right top,#B9F8D3,#40DFEF);
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 90%;
    min-height: 80vh;
    background: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: space-between;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.box1{
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
#forcast{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    gap: 5px;
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,0.2));
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px;
}
.forcast_Data{
    text-align: center;
    padding: 6px;
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,0.2));
    border-radius: 10px;
    backdrop-filter: blur(20px);
    margin: 2px;

}
.box2{
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px;
    margin: auto;
}
.search{
    width: 100%;
    text-align: end;
}
.details{
    margin: 10px;
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.4),rgba(255,255,255,0.5));
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px;
}
#humidity,#wind,#pressure{
    font-size: 20px;
    font-weight: 500;
}
.detail{
    font-size: 25px;
    margin: 5px;
}
#main_img{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}
#main-image-temp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
    /* justify-content: space-between; */
}
#current_temp,.temp_unit{
    display: inline;
    font-size: 20px;
}
#current_temp{
    margin: 10px 0;
}
h3,h5{
    display: inline;
}
#city{
    border:none;
    outline-color: #6cdbeb;
    width: 50%;
    height: 4vh;
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.4),rgba(255,255,255,0.5));
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 20px;
    font-size: 18px;
}
#current_location{
    font-size: 20px;
}
.fa-location-dot{
    font-size: 22px;
    margin: 20px;
    color: #F55353;
}
#weather_report{
    margin:  16px;
}
/* ----------Map Section */
.mapouter{position:relative;text-align:right;}
.gmap_canvas {overflow:hidden;background:none!important;}

#gmap_canvas{
    height: 50vh;
    width: 100%;
    border-radius: 20px;
}
#submit{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    color:white;
    font-weight: 600;
    background: rgb(235, 36, 76);
    transition:all 300ms ease-in-out;
}
#submit:hover{
    background-color: white;
    color: rgb(235, 42, 81);
    border-radius: 10px 0 10px 0;
}

.icon_image{
    width: 8%;
    height: 8%;
}
.cels{
    margin-left: 20px;
    margin-right: 10px;
}
.humid,.win,.gauge{
    margin-right: 10px;
}
.search-for-medium-screens{
    display: none;
}
/* *****Responsive***** */
      /* Medium screens */
      /* # Mobile
only screen and (min-width: 480px)

# Tablet
only screen and (min-width: 768px) 

# Desktop
only screen and (min-width: 992px)

# Huge
only screen and (min-width: 1280px) 
Or:

# Phone
only screen and (max-width:320px)

# Tablet
only screen and (min-width:321px) and (max-width:768px)

# Desktop
only screen and (min-width:769px) */
/* ****************For tablet************ */
     @media only screen  and (min-width: 768px) and (max-width:1000px){
            .main{
                flex-direction: column;
            }
            #container{
                grid-template-columns: repeat(1,1fr);
            }
            .search-for-medium-screens{
                display: inline;
            }
            .search{
                display: none;
            }
     }
/* **************For phone********************/
@media only screen  and (min-width: 320px) and (max-width:767px){
    .main{
        flex-direction: column;
    }
    #container{
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
    }
    #forcast{
        grid-template-columns: repeat(2,1fr);
    }
    .search-for-medium-screens{
        display: inline;
    }
    .search{
        display: none;
    }
    #city{
        width: 100%;
        margin: 3px;
    }
    #main_img{
        width: 100%;
        height: 60%;
    }
}
@media only screen  and (min-width: 480px) and (max-width:479px){
    .main{
        flex-direction: column;
    }
    #container{
        grid-template-columns: repeat(1,1fr);
        gap: 3px;
    }
    #forcast{
        grid-template-columns: repeat(2,1fr);
    }
    .search-for-medium-screens{
        display: inline;
    }
    .search{
        display: none;
    }
}